<div
  class="flex min-h-screen items-center justify-center bg-linear-to-br from-blue-100 via-purple-100 to-pink-100 p-6"
>
  <div
    class="relative w-full max-w-2xl rounded-3xl border border-white/40 bg-white/30 p-10 text-center shadow-xl backdrop-blur-xl"
  >
    <!-- 404 -->
    <div
      class="animate-pulse bg-amber-100 from-blue-500 via-purple-500 to-pink-500 bg-clip-text object-cover text-7xl font-extrabold text-transparent drop-shadow-lg md:text-8xl"
    >
      <img class="w-full" src="/assets/images/background/404.webp" alt="404" />
    </div>

    <!-- text -->
    <p class="mt-4 text-lg text-gray-700">Oops! The page you are looking for can't be found.</p>

    <!-- button -->
    <a
      routerLink="/"
      class="mt-8 inline-block rounded-full bg-linear-to-r from-blue-500 to-blue-600 px-8 py-3 font-semibold text-white shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl"
    >
      Go Back Home
    </a>
  </div>
</div>
