<li class="rounded-xl border-2 border-gray-100 px-3 py-4">
  <div class="mb-3 flex animate-pulse items-center justify-center gap-2">
    <!-- avatar -->
    <div class="shrink-0">
      <div class="h-10 w-10 rounded-full bg-gray-200"></div>
    </div>

    <!-- name & username -->
    <div class="ms-2 min-w-0 flex-1 space-y-2">
      <div class="h-3 w-3/4 rounded-full bg-gray-200"></div>
      <div class="h-3 w-1/2 rounded-full bg-gray-200"></div>
    </div>

    <!-- button -->
    <div class="h-7 w-16 rounded-full bg-gray-200"></div>
  </div>

  <!-- tags -->
  <div class="ms-1 flex gap-2">
    <div class="h-5 w-20 rounded-full bg-gray-200"></div>
    <div class="h-5 w-16 rounded-full bg-gray-200"></div>
  </div>
</li>
