<div class="mb-4 grid grid-cols-2 gap-0.5 rounded-xl bg-slate-100 p-1">
  <a
    class="rounded-md py-2 text-center text-sm font-extrabold text-slate-600 capitalize transition duration-200 hover:text-slate-800"
    routerLink="/login"
    routerLinkActive="bg-white text-main!"
    >login</a
  >
  <a
    class="rounded-md py-2 text-center text-sm font-extrabold text-slate-600 capitalize transition duration-200 hover:text-slate-800"
    routerLink="/register"
    routerLinkActive="bg-white text-main!"
    >register</a
  >
</div>
